
.header-one {
  width: 90%;
  margin: 0 auto;

  h1 {
    padding: 2rem 0;
    @include desktop {
      font-size: 3rem;
    }
  }

  p {
    @include desktop {
      font-size: 1.5rem;
    }
  }

  ul {
    padding-top: 1rem;
    display: flex;
    @include flex(center, center, row wrap);
    @include desktop {
      @include flex (null, flex-start, column wrap);
      padding-left: 5rem;
    }

    li {
      padding: 1rem 0;
      text-transform: capitalize;
      @include desktop {
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
  }
}


.price-template {
  width: 90%;
  margin: 0 auto;
  @include flex(center, center, column wrap);
  text-align: center;
  @include desktop {
    @include flex(space-around, center, row wrap);
    width: 65%;
  }

  ul li {
    list-style-type: none;
    text-decoration: none;
    padding: 0.5rem;

    &:nth-child(1) {
      padding-top: 1rem;
    }
  }

  h2 {
    padding: 0.3rem 0 1rem 0;
  }

}

.price-basic {
  padding: 2rem 0;
}

.price-basic-header {
  color: $white;
  background: #4FC0E9;
  padding: 1rem;
  text-transform: capitalize;
}

.price-basic-body {
  text-transform: capitalize;
  padding: 1rem 3rem;
  background: #D7F1F9;

  h1 {
    margin: 0 auto;
  }
}

.price-basic-button {
  background: $button-background;

  button {
    background: #4FC0E9;
    color: $white;
  }
}

.price-unlimited {
  padding: 2rem 0;
}

.price-unlimited-header {
  background: #FFCE54;
  color: $white;
  padding: 1rem;
  text-transform: capitalize;

}

.price-unlimited-body {
  text-transform: capitalize;
  padding: 1rem 3rem;
  background: #FFFAED;
}

.price-unlimited-button {
  background: $button-background;

  button {
    background: #FFCE54;
    color: $white;
  }
}


// contact us desktop


.contact-us_desktop {
  display: none;
  @include desktop {
    padding: 1rem 0;
    display: block;
    text-align: center;
    button {
      font-size: 1.2rem;
      color: $white;
      height: 60px;
      width: 200px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      background: $footer-color;
    }
  }
}