.logo{
  h1{
    text-transform: capitalize;
  }
}

header{
  color: white;
  background: #34495E;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  padding: 1rem;
  h1{
    padding: 1rem 0;
    margin: 0 auto;
  }
  hr{
    width: 80%;
    height: 2px;
    background: $white;
  }
  nav{
    ul li{
      padding: 1rem 0.5rem;
      display: inline-block;
    }
  }
}